<ion-list>
  <ion-item (click)="testClick()" lines="none" class="accItem">
    <ion-avatar slot="start" class="avatar">
      <img src="{{userProfile.avatarImg}}">
    </ion-avatar>
    <ion-label>
      <strong>{{userProfile.name}}</strong>
      <p>{{userProfile.department}}</p>
    </ion-label>
  </ion-item>
  <ion-item [routerLink]="['/profile']" detail>
    <ion-label>
      Hồ sơ
    </ion-label>
  </ion-item>
  <ion-item (click)="buttonClick()" detail>
    <ion-label>
      Tài khoản
    </ion-label>
  </ion-item>
  <ion-item (click)="buttonClick()" detail>
    <ion-label>
      Gói hội viên
    </ion-label>
  </ion-item>
  <ion-item (click)="buttonClick()" detail>
    <ion-label>
      Trung tâm trợ giúp
    </ion-label>
  </ion-item>
  <ion-item (click)="buttonClick()" detail>
    <ion-label>
      Cài đặt
    </ion-label>
  </ion-item>
  <ion-item (click)="btnLogout_click()" detail>
    <ion-label>
      Đăng xuất
    </ion-label>
  </ion-item>
</ion-list>