<ion-header no-border>
    <ion-toolbar>
      <ion-item lines="none">
        <ion-buttons slot="start">
          <ion-button (click)="btnBack_click()">
            <ion-icon slot="icon-only" name="arrow-round-back" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-label color="white" class="center">
          <strong>
            Trung tâm trợ giúp
          </strong>
        </ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  </ion-content>