:host
{
    ion-label.center { 
        left: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
    }
    ion-toolbar{
        --background : white;
        --color: black;
    }
    ion-card.cards-pk ion-card-header {
        color: #09548E;
        --min-height:10px;
      }
      ion-button.btn1{
        --background:	#09548E;
        --color: white;
        margin-left: 55px;
        margin-right: 55px;
      }
}