<ion-content>
  <ion-header no-border>
    <ion-toolbar class="bg-class">
      <ion-item lines="none" class="iteTool">
        <ion-buttons slot="start">
          <ion-button (click)="btnBack_click()">
            <ion-icon slot="icon-only" name="arrow-round-back" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-row>
        <ion-col size=4>
        </ion-col>
        <ion-col size=4>
          <ion-card>
            <img src="{{doctor.avatarImg}}" style="text-align: center">
          </ion-card>
        </ion-col>
        <ion-col size=4>
        </ion-col>
      </ion-row>

      <div text-center style="color: #ffffff"><strong>{{doctor.name}}</strong></div>
      <div text-center style="color: #ffffff">Chuyên khoa: {{doctor.department}}</div>
      <div text-center>
        <ion-icon [ngStyle]="{'color': (doctor.rateSummary >= 1)? '#ffce00' : 'grey'}" name="star"></ion-icon>
        <ion-icon [ngStyle]="{'color': (doctor.rateSummary >= 2)? '#ffce00' : 'grey'}" name="star"></ion-icon>
        <ion-icon [ngStyle]="{'color': (doctor.rateSummary >= 3)? '#ffce00' : 'grey'}" name="star"></ion-icon>
        <ion-icon [ngStyle]="{'color': (doctor.rateSummary >= 4)? '#ffce00' : 'grey'}" name="star"></ion-icon>
        <ion-icon [ngStyle]="{'color': (doctor.rateSummary >= 5)? '#ffce00' : 'grey'}" name="star"></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>
  <br />
  <ion-list>
    <ion-item class="datepicker">
      <ion-label class="titletext"><strong>Ngày khám</strong></ion-label>
      <ion-datetime displayFormat="DD/MM/YY" [(ngModel)]="myDate" doneText="Chọn"
        cancelText="Hủy" monthValues="{{monthValue}}" yearValues="{{yearValue}}"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label class="titletext"><strong>Giờ khám</strong></ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="bookingTime" 
      minuteValues="0,15,30,45" doneText="Chọn" cancelText="Hủy"></ion-datetime>
    </ion-item>
    <ion-item class="datepicker" lines="none">
      <ion-label>
        <h2><strong>Địa chỉ</strong></h2>
        <p color="black">{{doctor.address}}</p>
        <br />
        <h2><strong>Giá khám</strong></h2>
        <p color="black">{{doctor.basePrice | number}} VND</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col size="6" text center>
      <ion-button expand="full" shape="round" class="btn1" (click)="btnBooking_click()">
        <ion-icon name="calendar"></ion-icon>Đặt lịch
      </ion-button>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>

</ion-content>