<!-- -->
<ion-header no-border>
  <ion-toolbar class="toolBar" (click)="btnMap_click()">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="pin" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <div class="a">
      <div class="b play">
        <p>&nbsp;{{currentAddress}}</p>
      </div>
    </div> -->
    <ion-title ali="center" class="addresslb">
      <strong>
        {{currentAddress}}
      </strong>
    </ion-title>
  </ion-toolbar>
  <!-- <ion-item lines="none">
    <ion-input color="dark" placeholder="Tìm kiếm triệu chứng" [(ngModel)]="symptom"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="searchDoctors()">
        <ion-icon slot="icon-only" name="search" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item> -->
  <!-- <form [formGroup]="myForm" (ngSubmit)="submit()" novalidate>
  <div>
    <ion-auto-complete [dataProvider]="completeTestService"
    (itemSelected)="symptomChange($event)" ngDefaultControl formControlName="symptomS" (keyup.enter)="submit()"
     [options]="{ placeholder : 'Nhập triệu chứng'}"></ion-auto-complete>
  </div>
</form> -->
<div class="autocomplete">
  <ion-searchbar [(ngModel)]="symptom" (ionInput)="search($event)" (ngSubmit)="submit()" (keyup.enter)="submit()" placeholder = "Nhập triệu chứng"></ion-searchbar>
	<ion-list *ngIf="showList">
		<ion-item *ngFor="let res of listSymptom" (click)="addNote(res)">
			{{res}}
		</ion-item>
	</ion-list>
</div>
</ion-header>

<ion-content color="light">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <!-- <ion-row align-items-center>
    <ion-col col-4>
      <ion-button expand="full" (click)="btnMorn_click()" [class.paoday]='!isMorn' [class.clicked]='isMorn'>
        Sáng
      </ion-button>
    </ion-col>
    <ion-col col-4>
      <ion-button expand="full" (click)="btnAfter_click()" [class.paoday]='!isAfter' [class.clicked]='isAfter'>
        Trưa
      </ion-button>
    </ion-col>
    <ion-col col-4>
      <ion-button expand="full" (click)="btnEvent_click()" [class.paoday]='!isEven' [class.clicked]='isEven'>
        Chiều
      </ion-button>
    </ion-col>
  </ion-row> -->
  <div *ngIf="searchResult">
    <ion-card *ngFor="let result of searchResult">
      <ion-item class="info" (click)="btnDoctor_click(result.userId)" lines="none">
        <ion-thumbnail slot="start" class="avatar">
          <img src="{{result.avatarImg}}">
        </ion-thumbnail>
        <ion-label>
          <strong>{{result.doctorName}}</strong>
          <p>{{result.department}}</p>
          <p class="address">{{result.address}}</p>
          <div>
            <ion-icon [ngStyle]="{'color': (result.rateSummary >= 1)? '#ffce00' : 'grey'}" name="star"></ion-icon>
            <ion-icon [ngStyle]="{'color': (result.rateSummary >= 2)? '#ffce00' : 'grey'}" name="star"></ion-icon>
            <ion-icon [ngStyle]="{'color': (result.rateSummary >= 3)? '#ffce00' : 'grey'}" name="star"></ion-icon>
            <ion-icon [ngStyle]="{'color': (result.rateSummary >= 4)? '#ffce00' : 'grey'}" name="star"></ion-icon>
            <ion-icon [ngStyle]="{'color': (result.rateSummary >= 5)? '#ffce00' : 'grey'}" name="star"></ion-icon>
          </div>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <div text-left>
              Phí: {{result.basePrice | number}} VND
            </div>
          </ion-col>
          <ion-col>
            <div text-right>
              Cách bạn {{result.distance}} km
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- Skeleton screen -->
  <div *ngIf="(isShow && !searchResult)">
    <ion-card>
      <ion-item class="info">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item class="info">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item class="info">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item class="info">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item class="info">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>