:host
{
  ion-toolbar { 
    --background: linear-gradient( #09548e, #0b64a8) !important;
  }
  ion-button.paoday{
    --background:	#b3b3b3;
    --color: black;
  }
  ion-button.clicked{
    --background : #e6e6e6;
    --color :	black;
  }
  ion-item.info{
    --min-height : 80px;
  }
  ion-title.addresslb{
    text-overflow: inherit;
    white-space: normal; 
    animation: ma 10s 3s infinite linear;
  }
  ion-title{
      color: white;
  }
  .lsContent{
    background : #f4f4f4;
  }
  ion-thumbnail.avatar{
    width: 70px;
    height: 70px;
  }
  .address{
    -webkit-animation: left_to_right 5s infinite; /* Safari 4.0 - 8.0 */
    animation: left_to_right 5s infinite;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  @keyframes left_to_right {
    from {margin-left: 0px;}
    to {margin-left: -150px;}
  }
}
