:host
{
  ion-toolbar { 
    --background: linear-gradient( #09548e, #0b64a8) !important;
  }

  ion-button.paoday{
    --background:	#b3b3b3;
    --color: black;
  }
  ion-button.clicked{
    --background : #e6e6e6;
    --color :	black;
  }
  ion-item.info{
    --min-height : 80px;
  }
  ion-title.addresslb{
    text-overflow: inherit;
    white-space: normal; 
    animation: ma 10s 3s infinite linear;
  }
  ion-title{
      color: white;
  }
  .lsContent{
    background : #f4f4f4;
  }
}
