<!-- -->
<ion-header no-border>
  <ion-toolbar class="toolBar">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="pin" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <div class="a">
      <div class="b play">
        <p>&nbsp;{{currentAddress}}</p>
      </div>
    </div> -->
    <ion-title ali="center" class="addresslb">
      <strong>
        {{currentAddress}}
      </strong>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="btnMap_click()">
        <ion-icon slot="icon-only" name="map" color="white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-input color="dark" placeholder="Tìm kiếm triệu chứng" [(ngModel)]="symptom"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="searchDoctors()">
        <ion-icon slot="icon-only" name="search" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>

<ion-content color="light">
  <ion-row align-items-center>
    <ion-col col-4>
      <ion-button expand="full" (click)="btnMorn_click()" [class.paoday]='!isMorn' [class.clicked]='isMorn'>
        Sáng
      </ion-button>
    </ion-col>
    <ion-col col-4>
      <ion-button expand="full" (click)="btnAfter_click()" [class.paoday]='!isAfter' [class.clicked]='isAfter'>
        Trưa
      </ion-button>
    </ion-col>
    <ion-col col-4>
      <ion-button expand="full" (click)="btnEvent_click()" [class.paoday]='!isEven' [class.clicked]='isEven'>
        Chiều
      </ion-button>
    </ion-col>
  </ion-row>
  <div *ngIf="searchResult">
    <ion-list *ngFor="let result of searchResult">
      <ion-card>
        <ion-item class="info">
          <ion-thumbnail slot="start">
            <img src="{{result.avatarImg}}">
          </ion-thumbnail>
          <ion-label>
            <strong>{{result.doctorName}}</strong>
            <p>{{result.department}}</p>
            <div>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
            </div>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="btnDoctor_click(result.userId)">
              <ion-icon slot="icon-only" name="log-in"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-card-content>
          Cách bạn {{result.distance}} km
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <!-- Skeleton screen -->
  <div *ngIf="(isShow && !searchResult)">
    <ion-list>
      <ion-card>
        <ion-item class="info">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-card-content>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item class="info">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-card-content>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item class="info">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-card-content>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>