// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


/** Ionic CSS Variables **/
:root {
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
  
    --ion-color-secondary: #0cd1e8;
    --ion-color-secondary-rgb: 12, 209, 232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;
  
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
  
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
  
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
  
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
  
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
  
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
  
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    --ion-tab-bar-color-activated: #075698;
    --ion-tab-bar-background: #ffffff;
    --ion-tab-bar-color-activated : #075698;
    --ion-tab-bar-text-color-active:#075698
  }
  
  // Additional Ionic Colors
  // --------------------------------------------------
  // In order to add colors to be used with Ionic components,
  // the color should be added as a class with the convention `.ion-color-{COLOR}`
  // where `{COLOR}` is the color to be used on the Ionic component
  // and each variant is defined for the color. For more information, please see
  // https://beta.ionicframework.com/docs/theming/advanced
  
  .ion-color-favorite {
    --ion-color-base: #69bb7b;
    --ion-color-base-rgb: 105, 187, 123;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #5ca56c;
    --ion-color-tint: #78c288;
  }
  
  .ion-color-twitter {
    --ion-color-base: #1da1f4;
    --ion-color-base-rgb: 29, 161, 244;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #1a8ed7;
    --ion-color-tint: #34aaf5;
  }
  
  .ion-color-google {
    --ion-color-base: #dc4a38;
    --ion-color-base-rgb: 220, 74, 56;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #c24131;
    --ion-color-tint: #e05c4c;
  }
  
  .ion-color-vimeo {
    --ion-color-base: #23b6ea;
    --ion-color-base-rgb: 35, 182, 234;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #1fa0ce;
    --ion-color-tint: #39bdec;
  }
  
  .ion-color-facebook {
    --ion-color-base: #3b5998;
    --ion-color-base-rgb: 59, 89, 152;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #344e86;
    --ion-color-tint: #4f6aa2;
  }
  
  // Shared Variables
  // --------------------------------------------------
  // To customize the look and feel of this app, you can override
  // the CSS variables found in Ionic's source files.
  // To view all the possible Ionic variables, see:
  // https://beta.ionicframework.com/docs/theming/css-variables#ionic-variables
  
  :root {
    // $headings-font-weight: 300;
    --ion-headings-font-weight: 300;
  
    --ion-color-angular: #ac282b;
    --ion-color-communication: #8e8d93;
    --ion-color-tooling: #fe4c52;
    --ion-color-services: #fd8b2d;
    --ion-color-design: #fed035;
    --ion-color-workshop: #69bb7b;
    --ion-color-food: #3bc7c4;
    --ion-color-documentation: #b16be3;
    --ion-color-navigation: #6600cc;
  }
  
  // App iOS Variables
  // --------------------------------------------------
  // iOS only CSS variables can go here
  
  .ios {
  }
  
  // App Material Design Variables
  // --------------------------------------------------
  // Material Design only CSS variables can go here
  
  .md {
    // Use the primary color as the background for the toolbar
    --ion-toolbar-background: var(--ion-color-primary);
  
    // Change the color of the toolbar components
    --ion-toolbar-color: #fff;
  
    // Change the color of the activated toolbar components
    --ion-toolbar-color-activated: #fff;
  
    // Change the color of the unchecked segment buttons
    --ion-toolbar-color-unchecked: rgba(255, 255, 255, .6);
  
    // Change the color of the checked segment button
    --ion-tab-bar-background-focused: #075698;
    --ion-tab-bar-color-activated: #075698;
  }
  
  // App Theme
  // --------------------------------------------------
  // Ionic apps can have different themes applied, which can
  // then be future customized. This import comes last
  // so that the above variables are used and Ionic's
  // default are overridden.
  
  // @import "ionic.theme.default";
  
  // Fonts
  // --------------------------------------------------
  // Roboto font is used by default for Material Design. Noto sans
  // is used by default for Windows.
  
  // http://ionicframework.com/docs/theming/
  // App Shared Imports
  // --------------------------------------------------
  
  // global styles
  .primary-bg {
    background-color: var(--ion-color-primary) !important;
  }
  
  .secondary-bg {
    background-color: var(--ion-color-secondary) !important;
  }
  
  .common-bg {
    background-color: #FAFBFC;
  }
  
  .white-bg {
    background-color: #fff;
  }
  
  .detail-bg {
    background-color: #f1f1f5;
  }
  
  .light-bg {
    background-color: var(--ion-color-light);
  }
  
  .dark-bg {
    background-color: var(--ion-color-dark);
  }
  
  .green-bg {
    background-color: #68C91F;
  }
  
  .profile-bg {
    background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary), var(--ion-color-light));
  }
  //
  //
  .text-primary {
    color : var(--ion-color-primary);
  }
  
  .text-secondary {
    color: var(--ion-color-secondary);
  }
  
  .text-green {
    color: #68C91F;
  }
  
  .text-yellow {
    color: #FDD835;
  }
  
  .text-white {
    color: #fff;
  }
  
  //
  .dark-trans,
  .toast-md .toast-wrapper {
    background-color: rgba(0, 0, 0, .4);
  }
  
  
  // Helpers
  .quarter-op {
    opacity: .25;
  }
  
  .no-paddingTRL {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  
  .no-paddingTRB {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .no-paddingB {
    padding-bottom: 0 !important;
  }
  
  .no-paddingT {
    padding-top: 0 !important;
  }
  
  .padding-xs {
    padding: 10px;
  }
  
  .no-padding {
    padding: 0 !important;
  }
  
  .no-pl {
    padding-left: 0 !important;
  }
  
  .no-margin {
    margin: 0;
  }
  
  .no-marginT {
    margin-top: 0 !important;
  }
  
  .mt-half {
    margin-top: .5rem !important;
  }
  
  .mt-1 {
    margin-top: 1rem !important;
  }
  
  .mb-half {
    margin-bottom: .5rem;
  }
  
  .marginB-16px {
    margin-bottom: 16px !important;
  }
  
  .marginB-2 {
    margin-bottom: 2rem !important;
  }
  
  .marginT-16px {
    margin-top: 16px !important;
  }
  
  .marginT-2 {
    margin-top: 2rem !important;
  }
  
  .pull-left {
    float: left;
  }
  
  .pull-right {
    float: right;
  }
  
  .rlt {
    position: relative;
  }
  
  .clear {
    clear: both;
  }
  
  .align-bottom {
    position: absolute;
    bottom: 0;
  }
  
  .round {
    border-radius: 1rem;
    overflow: hidden;
  }
  
  .no-round {
    border-radius: 0;
  }
  
  .border-bottom {
    border-bottom: 1px solid rgba(86, 61, 124, 0.1);
  }
  
  .full-width {
    width: 100% !important;
  }
  
  .max-width {
    max-width: 100% !important;
  }
  
  .padding-sm {
    padding: 1rem;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  // text size
  .text-2x {
    font-size: 2em;
  }
  
  .text-1x {
    font-size: 1em;
  }
  
  .text-sm {
    font-size: 0.7em;
  }
  
  .bold {
    font-weight: bold !important;
  }
  
  // buttons configs
  .btn-facebook {
    background-color: #3B5999;
  }
  
  .btn-twitter {
    background-color: #00ACEE;
  }
  
  .btn-gplus {
    background-color: #E04006
  }
  
  // badge style
  ion-badge {
    &.square {
      border-radius: 0;
    }
  }
  
  // card style
  .card {
    background: #FFF;
    border-radius: 1rem;
    box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15);
  }
  
  // navbar style
  ion-navbar.no-border {
  
    .toolbar-background {
      border: none;
    }
  }
  
  // list style
  .list-no-border {
  
    .item:first-child {
      border: none;
    }
    .item:last-child {
      border: none;
    }
  
    .item {
      .item-inner {
        border: none;
      }
    }
  }
  
  .list-full-border {
    @extend .list-no-border;
  
    .item,
    .item:first-child,
    .item:last-child {
      border-bottom: 1px solid rgba(86, 61, 124, 0.2);
      .item-inner {
        border: none;
      }
    }
  }
  
  // item style
  .item.no-border {
    .item-inner {
      border: none;
    }
  }
  
  // Toolbar
  // transparent nav bar
  .toolbar {
    &.nav-transparent {
      .toolbar-background {
        background-color: rgba(86, 61, 124, .65);
      }
    }
    .toolbar-title {
      img {
        vertical-align: sub;
        border-radius: 10%;
      }
    }
  }
  
  // style for auth pages
  .auth-page {
    background-color: #fff;
    &::after {
      background: url("../assets/img/bg.jpg") no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;
    }
  
    .scroll-content {
      display: flex;
      align-items: center;
      justify-content: center;
      //background: rgba(50, 10, 92, .4);
  
      .login-content {
        width: 86%;
        padding-bottom: 100px;
  
        .logo {
          width: 60px;
          height: 60px;
          margin: 20px auto 0;
          border-radius: 10%;
          background: url("../assets/img/ionic3-ico.png") no-repeat;
          background-size: 100%;
        }
  
        .list-form {
          padding: 0;
          margin-bottom: 0;
  
          ion-item {
            background: none;
            padding: 0;
  
            &:first-child {
              border-top: none;
            }
  
            &:after {
              display: none;
            }
  
            ion-label {
              font-size: 1em;
              color: var(--ion-color-primary);
            }
  
            input {
              color: var(--ion-color-primary);
            }
          }
        }
      }
    }
  }
  
  // Menu user profile
  .user-profile {
    .user-avatar {
      width: 68px;
      height: 68px;
      display: inline-block;
      border-radius: 50%;
      box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(255,255,255,.45);
      img {
        border-radius: 50%;
      }
    }
    .toolbar-background {
      background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
    }
  
    .other-data {
      .column {
        &:first-child {
          border-right: 1px solid rgba(36, 50, 157, .25);
        }
      }
    }
  }
  
  .user-list {
    .item {
      &:last-child {
        border-bottom: 0;
      }
      .item-inner {
        border-color: rgba(86, 61, 124, .1);
      }
    }
  }
  
  // styles for hotels
  .hotel-bg {
    background-position: center;
  
    .bg-filter {
      position: relative;
      height: 150px;
      background: rgba(0, 0, 0, .5);
  
      .bottom-info {
        position: absolute;
        width: 100%;
        bottom: 1rem;
        padding: 1rem;
      }
    }
  
    .discount {
      position: absolute;
      padding: 0.5rem 1rem;
      top: 0;
      right: 0;
      background-color: #68C91F;
      color: #fff;
    }
  
    .origin-price {
      color: #C0C0C0;
      text-decoration: line-through;
    }
  
    .sale-price,
    .price {
      font-size: 1.8rem;
    }
  }
  
  // style for slider
  ion-slides.to-top {
    height: auto;
    margin-bottom: -5px;
  
    .swiper-pagination {
      display: block !important;
  
      .swiper-pagination-bullet {
        background: var(--ion-color-light);
      }
    }
  }
  
  .to-top {
    height: auto;
    margin-bottom: -5px;
  }
  
  // style for ion-icon
  ion-icon[ng-reflect-disabled="true"] {
    color: #FAFBFC;
    pointer-events: none;
  }
  
  // checkout info style
  .checkout-info {
  
    span {
      font-size: 1.2rem;
    }
  }
  
  // remove shadow from header
  .md {
    ion-header {
      &.no-shadow::after {
        background-image: none;
      }
    }
  
    ion-toolbar,
    ion-navbar {
      .button,
      .button.activated {
        box-shadow: none;
      }
    }
  }
  
  .ios {
    ion-list ion-item,
    .list-hotels .hotel-bg {
      pointer-events: none;
    }
  }
  
  // google
  .google-map {
    height: 160px;
    pointer-events: none;
    margin: 0 -20px;
  }
  
  // Animate CSS
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animated.infinite {
    animation-iteration-count: infinite;
  }
  
  .animated.hinge {
    animation-duration: 2s;
  }
  
  .animated.flipOutX,
  .animated.flipOutY,
  .animated.bounceIn,
  .animated.bounceOut {
    animation-duration: .75s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }
  