:host
{
    ion-toolbar { 
        --background : white ;
        --min-height:50px;
    }
    ion-item.define{
    --background : transparent;
    }
    .ipggplace
    {
        width: 100%;
        border: none;
    }
    agm-map {
        height:600px;
    }
    ion-label.addresslb{
        text-overflow: inherit;
        white-space: normal;
    }
}
