<ion-content fullscreen>
 
    <ion-item class="close-fake" lines="none" text-center>
      <ion-button (click)="close()" fill="clear" color="light">
        <ion-icon class="iconBack" slot="icon-only" name="arrow-round-back" color="light"></ion-icon>
      </ion-button>
   
      <ion-button (click)="zoom(true)" fill="clear" color="light">
        <ion-icon name="add" slot="start"></ion-icon>
        Phóng to
      </ion-button>
   
      <ion-button (click)="zoom(false)" fill="clear" color="light">
        <ion-icon name="remove" slot="start"></ion-icon>
        Mặc định
      </ion-button>
    </ion-item>
   
    <ion-slides [options]="sliderOpts" #slider>
      <ion-slide>
        <div class="swiper-zoom-container">
          <img src="{{img}}">
        </div>
      </ion-slide>
    </ion-slides>
   
  </ion-content>