:host
{
  ion-label.labelInfo{
    color: #075698;
  }
  ion-toolbar {
    --min-height:140px;
    --background: #ffa500;
  }
  ion-item{
  --background : transparent;
  --padding-top:5px;
  }

  ion-avatar{
    margin : auto;
    text-align: center!important;
  }
  ion-textarea{
    --padding-top : 150px;
  }
  ion-card{
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: white;
    }
  ion-item{
      background-color: white;
      --background:white;
  }
  ion-button.btn1{
    --background:	#4d6081;
    --color: white;
  }
  
  ion-button.btn2{
    --background:	white;
    --color: #4d6081;
  }
}