<ion-content>
  <ion-header no-border>
    <ion-toolbar>
      <ion-item lines="none" class="iteTool">
        <ion-buttons slot="start">
          <ion-button (click)="btnBack_click()">
            <ion-icon slot="icon-only" name="arrow-round-back" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-row>
        <ion-col size=4>
        </ion-col>
        <ion-col size=4>
          <ion-avatar class="ava">
            <img src="{{userProfile.avatarImg}}" style="text-align: center">
          </ion-avatar>
          <div text-center *ngIf="!isEdit">
            <ion-button slot="icon-only" (click)="getImage()" class="btnImg">
                <ion-icon name="camera"></ion-icon>
            </ion-button>
          </div>
          <input type="file" #myFile accept="image/*" (change)="onFileSelected($event)" style="display: none;" />
        </ion-col>
        <ion-col size=4>
        </ion-col>
      </ion-row>
      <div text-center style="color: #ffffff"><strong>{{userProfile.name}}</strong></div>
    </ion-toolbar>
  </ion-header>
  <ion-card class="cards-pk">
    <ion-item>
      <ion-label class="labelInfo" position="stacked"><strong>Họ tên</strong></ion-label>
      <ion-input [readonly]="isEdit" [autofocus]="!isEdit" [(ngModel)]="userProfile.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelInfo" position="stacked"><strong>Điện thoại</strong></ion-label>
      <ion-input [readonly]="isEdit" [(ngModel)]="userProfile.phoneNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelInfo" position="stacked"><strong>CMND</strong></ion-label>
      <ion-input [readonly]="isEdit" [(ngModel)]="userProfile.personIdNumber"></ion-input>
    </ion-item>
    <ion-item class="datepicker">
      <ion-label class="labelInfo" position="stacked"><strong>Ngày sinh</strong></ion-label>
      <ion-datetime [readonly]="isEdit" pickerFormat="DD/MM/YYYY" displayFormat="DD/MM/YY" [(ngModel)]="userProfile.dateOfBirth"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label class="labelInfo" position="stacked"><strong>Giới tính</strong></ion-label>
      <ion-select [(ngModel)]="userProfile.gender">
        <ion-select-option [disabled]="isEdit" value="FEMALE">Nam</ion-select-option>
        <ion-select-option [disabled]="isEdit" value="MALE">Nữ</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label class="labelInfo" position="stacked"><strong>Cân nặng</strong></ion-label>
      <ion-input [readonly]="isEdit" [(ngModel)]="userProfile.weight"></ion-input>
    </ion-item>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" shape="round" class="btn1" (click)="btnEdit_click()" [disabled]="!isEdit">
          <ion-icon name="create"></ion-icon>Chỉnh sửa
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" shape="round" class="btn2" (click)="btnSave_click(userProfile)" [disabled]="isEdit">
          <ion-icon name="save"></ion-icon>Lưu
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>