<ion-content>
  <ion-header no-border>
    <ion-toolbar>
        <ion-item lines="none" class="iteTool">
            <ion-buttons slot="start">
              <ion-button (click)="btnBack_click()">
                <ion-icon slot="icon-only" name="arrow-round-back" color="dark"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>    
      <ion-row>
        <ion-col size=4>
        </ion-col>
        <ion-col size=4>
          <ion-avatar>
            <img src="{{userProfile.avatarImg}}" style="text-align: center">
          </ion-avatar>
        </ion-col>
        <ion-col size=4>
        </ion-col>
      </ion-row>
      <div text-center style="color: #ffffff"><strong>{{userProfile.name}}</strong></div>
    </ion-toolbar>
  </ion-header>
  <ion-card class="cards-pk">
    <ion-item>
      <ion-label class="labelInfo" position="stacked"><strong>Họ tên</strong></ion-label>
      <ion-input readonly=true value="{{userProfile.name}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelInfo" position="stacked"><strong>Điện thoại</strong></ion-label>
      <ion-input readonly=true value="{{userProfile.phoneNumber}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelInfo" position="stacked"><strong>Email</strong></ion-label>
      <ion-input readonly=true value="{{userProfile.phoneNumber}}"></ion-input>
    </ion-item>
    <ion-item class="datepicker">
      <ion-label class="labelInfo" position="stacked"><strong>Ngày sinh</strong></ion-label>
      <ion-datetime pickerFormat="DD/MM/YYYY" displayFormat="DD/MM/YY" value="10/2/1997"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label class="labelInfo" position="stacked"><strong>Giới tính</strong></ion-label>
      <ion-input readonly=true value="Nam"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelInfo" position="stacked"><strong>Cân nặng</strong></ion-label>
      <ion-input readonly=true value="65kg"></ion-input>
    </ion-item>
  </ion-card>
  <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="full" shape="round" class="btn1">
            <ion-icon name="calendar"></ion-icon>Chỉnh sửa
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full" shape="round" class="btn2" disabled="true">
            <ion-icon name="chatboxes"></ion-icon>Lưu
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>