:host
{
  ion-label.labelInfo{
    color: #09548E;
  }
  ion-toolbar {
    --min-height:140px;
    --background: #09548E; 
    --background: -moz-linear-gradient(-45deg, #09548E 17%,#7DB9E8 100%); 
    --background: -webkit-linear-gradient(-45deg, #09548E 17%,#7DB9E8 100%); 
    --background: linear-gradient(135deg, #09548E 17%,#7DB9E8 100%); 
  }
  ion-item{
  --background : transparent;
  --padding-top:5px;
  }

  ion-avatar{
    margin : auto;
    text-align: center!important;
  }
  ion-textarea{
    --padding-top : 150px;
  }
  ion-card{
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: white;
    }
  ion-button.btn1{
    --background:	#09548E;
    --color: white;
  }
  ion-button.btn2{
    --background:	white;
    --color: #09548E;
  }
  ion-item.iteTool{
    --background: transparent;
  }
}