:host
{
  ion-content{
    --background: #f4f5f8;
  }
  ion-header{
    border: 0px !important;
    border-bottom-color: transparent !important;
    border-bottom: none !important;
  }
  ion-toolbar {
    --background: linear-gradient(to top, #f4f5f8 0%, #f4f5f8 30%,#7DB9E8 21%, #09548E 100%); /* W3C */
    --background-size: 100% 80%%;
    --min-height: 100px;
    border: none;
  }
  ion-card-content.cardcontent{
    background-color: white;
    color:black;
  }
  .labelSearch{
    color: #222428;
    size: 30px;
    text-align: center;
  }
  ion-card.op0 {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
}
  ion-card.op1{
    background-color: #3d6eff;
    background-image: linear-gradient(to bottom right, #6685e0, #0d3dcf);
    color: white;
    margin: 5px 5px;
  }
  ion-card.op2{
    background-color: #0099ff;
    background-image: linear-gradient(to bottom right, #99ddff, #33bbff);
    color: white;
    margin: 5px 5px;
  }
  ion-card.op3{
    background-color: #ff9900;
    background-image: linear-gradient(to bottom right, #ffc266, #ff9900);
    color: white;
    margin: 5px 5px;
  }
  ion-card.op4{
    background-color: #ff2626;
    background-image: linear-gradient(to bottom right, #ff5c5c, #ff2626);
    color: white;
    margin: 5px 5px;
  }
  .imgSale 
  {
  height: 160px;
  }
  ion-title.label{
    color: white;
    padding-top: 13px;
    text-align: center;
  }
  ion-icon.light{
    color: white;
  }
}