<ion-header no-border>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-button (click)="btnBack_click()">
          <ion-icon slot="icon-only" name="arrow-round-back" color="light"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
    <p class="popout">
        <span>N</span>
        <span>O</span>
        <span>T</span>
        <br>
        <span>F</span>
        <span>O</span>
        <span>U</span>
        <span>N</span>
        <span>D</span>
      </p>
      <p text-center class="detail">Không tìm thấy trang bạn yêu cầu</p>
  <img class="shin" src="../../../assets/img/shin2.gif" />
</ion-content>