:host
{
    ion-tab-button.icon-tab1{
        color: grey;
    }
    ion-tab-bar.activated 
    {
        ion-tab-button{
            color: #09548E;
        }
    }
:root{
    --ion-tab-bar-color-activated: #09548E;
}
}