<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Trang chủ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Tìm kiếm</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list-booking">
      <ion-icon name="list"></ion-icon>
      <ion-label>Lịch hẹn</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mail-box">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Hộp thư</ion-label>
      <!-- <ion-badge *ngIf="numberMail">{{numberMail}}</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label>Hồ sơ</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
